// 变量
// 背景颜色
$bgcolor:#efefef;
// 行高
$baseLineHeight:2.6rem !default;
// 字体颜色
$color:#313131;
// 栅格个数
$size:24;
// 高度
$height:100;
// 屏幕尺寸
$size-l:1200px;
$size-m:980px;
$size-s:760px;
$size-ss:380px;
//
*{
  box-sizing: border-box;
}
html{
  font:{
    size: 62.5%;
  }
  & body{
    // GPU加速
    // will-change: transform;
    scroll-behavior: smooth;
    font:{
      size:1.2rem;
      family:Arial;
    };
    letter-spacing:0px;
    margin:0;
    background: $bgcolor;
    line-height: $baseLineHeight;
    color:$color;
    ul{
      margin:0;
      padding:0;
      li{
        list-style: none;
      }
    }
  }
}
// a标签
a{
  color:$color;
  text-decoration: none;
  :hover{
    color:$color;
  }
  :active{
    color:$color;
  }
}
// 块元素
.db{
  display: block;
  img{
    width:100%;
    height:auto;
  }
}
// 行内块元素
.ib{
  display: inline-block;
  margin:0 auto;
}
//字体颜色
.cf{
  color:#fff;
  a{
    color:#fff;
  }
}
.c0{
  color:#000;
  a{
    color:#000;
  }
}
.pr{
  position: relative;
}
.pa{
  position: absolute;
}
.ma{
  margin:0 auto;
}
// cursor
.cp{
  cursor: pointer;
}
.usnone{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
// clearfix
@mixin clearfix($selector) {
  #{$selector}:after {
    clear: both;
  	height:0;
  	display: block;
  	overflow: hidden;
  	content: "我是清除浮动";
  }
}
@include clearfix(".clearfix");
// flex
@mixin flex($selector) {
  .flex-#{$selector}{
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  	justify-content:center;
  	align-items: center;
  	flex-direction:#{$selector};
  	flex-wrap: wrap;
  }
}
@include flex("row");
@include flex("column");
.jc-start{
  justify-content:flex-start;
}
.jc-end{
  justify-content:flex-end;
}
.ai-start{
  align-items: flex-start;
}
.ai-end{
  align-items: flex-end;
}
// 字体加粗
.text-blod{
  font-weight: bold;
}
// backgroundimg
.bgimg{
  min-width:100%;
  min-height:100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
// 浮动
.fl{
  float:left !important;
}
.fr{
  float:right !important;
}
// container
.container{
  width:100%;
  overflow: hidden;
  &:after{
    clear: both;
  	height:0;
  	display: block;
  	overflow: hidden;
  	content: "我是清除浮动";
  }
}
// 宽度函数
@mixin col($selector) {
  @for $i from 1 through $size {
    .col-#{$selector}-#{$i}{
      width:(100%/$size)*$i !important;
      min-height:1px;
      margin:0 auto;
    }
  }
}
@include col("auto");
// 高度函数
@mixin h($selector) {
  @for $i from 1 through $height {
    .h-#{$selector}-#{$i}{
      height:$i*1% !important;
      min-width:1px;
      margin:0 auto;
    }
  }
}
@include h("auto");
// 显示隐藏
@mixin show($selector) {
  .col-#{$selector}-show{
    display: block;
  }
}
@include show("auto");
@mixin hide($selector) {
  .col-#{$selector}-hide{
    display: none;
  }
}
@include hide("auto");
// text
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
@mixin text($selector) {
  .text-#{$selector}-center{
    text-align: center !important;
  }
  .text-#{$selector}-left{
    text-align: left !important;
  }
  .text-#{$selector}-right{
    text-align: right !important;
  }
}
@include text("auto");
// scale
@mixin scale($selector) {
  @for $i from 1 through 10 {
    .scale-#{$selector}-#{$i}{
      -webkit-transform: scale($i/10);
      -moz-transform: scale($i/10);
      -ms-transform: scale($i/10);
      -o-transform: scale($i/10);
      transform: scale($i/10);
    }
  }
}
//
@media (min-width:$size-l) {
  @include col("xl");
  @include h("xl");
  @include show("xl");
  @include hide("xl");
  @include scale("xl");
  @include text("xl");
}
@media (max-width:$size-l) {
  @include col("l");
  @include h("l");
  @include show("l");
  @include hide("l");
  @include scale("l");
  @include text("l");
}
@media (max-width:$size-m) {
  @include col("m");
  @include h("m");
  @include show("m");
  @include hide("m");
  @include scale("m");
  @include text("m");
}
@media (max-width:$size-s) {
  @include col("s");
  @include h("s");
  @include show("s");
  @include hide("s");
  @include scale("s");
  @include text("s");
}
@media (max-width:$size-ss) {
  @include col("ss");
  @include h("ss");
  @include show("ss");
  @include hide("ss");
  @include scale("ss");
  @include text("ss");
}
// 自定义滚动条
@mixin scrollbar($selector) {
  #{$selector}{
    // 滚动条整体部分，其中的属性有width,height,background,border（就和一个块级元素一样）等
    ::-webkit-scrollbar{
      width:0px;
    }
    // 滚动条两端的按钮。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果
    ::-webkit-scrollbar-button{
      display:none;
    }
    // 外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果
    ::-webkit-scrollbar-track{
      display:none;
    }
    // 内层轨道，滚动条中间部分（除去）
    ::-webkit-scrollbar-track-piece{

    }
    // 滚动条里面可以拖动的那部分
    ::-webkit-scrollbar-thumb{

    }
    // 边角
    ::-webkit-scrollbar-corner{
      display:none;
    }
    // 定义右下角拖动块的样式
    ::-webkit-resizer{
      display:none;
    }
  }
}
@include scrollbar("html");
